<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books index">
  <table class="listing" style="width: 100%; text-align: center;">
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td class="actions">
          <%= link_to('Show book', book_path(book)) %> |
          <%= link_to('Edit', edit_book_path(book)) %> |
          <%= link_to('Delete', delete_book_path(book)) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<%= link_to "New book", new_book_path %>
