<p style="color: green"><%= notice %></p>

<h1>Displaying book</h1>
<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to book list", books_path %> |
  <%= link_to "Delete this book", delete_book_path(@book) %>
</div>
<br>
<div>
  <%= link_to "Back to book list", books_path %>
</div>
